/*-------------------Roboto font------------------------------------*/
@font-face {
	src: url(fonts/roboto/Roboto-Regular.ttf);
	font-family: 'Roboto';
}
/*header*/

.book1{
	color: blue;
}
.book2{
	color: red;
}
.grey-clr{
	color: #ccc;
	font-size: 18px !important;
}
.darkgrey-clr{
	color: grey;
	font-size: 18px;
}
.header{
	margin-top: 5px;
}
.grey-shade{
	color: #808080;
	font-size: 13px;
	font-weight: 400 !important;
}
.btn-primary {
    margin-top: 28px;
}
.table-details {
    margin-top: 35px;
    width: 100%;
    float: left;
    padding: 10px;
}
.table-head{
	background-color: rgb(245,248,250);
	color: grey;
}
.table-details td {
    padding: 5px 20px 5px 20px !important;
}
input#search {
    margin-top: 10px;
}
.btn-info {
    margin-top: 9px;
}
.head-blue{
	color: blue;
}

/*multi select*/


.multiselect {
  width: 400px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
li{
	display: inline-block;
	padding: 5px;
	color: white;
	background-color: #0069D9;
	margin-left: 4px;
}
.list-group{
  display: inline-block;
}
.list-group-item{
  display: inline-block;
}